spring:
  application:
    name: vibeshop
  datasource:
    url: jdbc:h2:mem:vibeshop
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
  h2:
    console:
      enabled: true
      path: /h2-console
  threads:
    virtual:
      enabled: true
server:
  port: 8080
